#zeus-reporting {
    position: absolute;
    width: 400px;
    height: 170px;
    margin: 0 auto;
    top: 30%;
    left: 35%;
    padding: 0 20px;
    border: 1px solid black;
    background-color: #eee;
    border-radius: 3px;
    box-shadow: #333 0 0 20px;
}

#zeus-reporting .progressbar-container {
    width: 400px;
    height: 32px;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 3px;
}

#zeus-reporting .progressbar-progress {
    padding: 10px 0;
    height: 12px;
    transition: width 2000ms;
}
#zeus-reporting .progressbar-container .message {
    width: 350px;
    text-align: center;
}
#zeus-reporting .comment {
    margin: 5px 0;
}
#zeus-reporting .settings-wrapper {
    margin: 10px 0 0;
}

#zeus-reporting .settings-switch {
    cursor: pointer;
    text-decoration: underline;
}
#zeus-reporting .settings-switch.closed {}
#zeus-reporting .settings-switch.open {}

#zeus-reporting .settings.hidden {
    display:none;
}
#zeus-reporting .settings label {
    display:block;
}
#zeus-reporting .settings input {
    width: 50px;
}