#zeus-reporting-backdrop {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    width:100%;
    height: 100%;
    top: 0;
}
#zeus-reporting {
    position: absolute;
    z-index: 1000;
    width: 400px;
    height:200px;
    top: 30%;
    left: 35%;
}

#zeus-reporting .zeus-reporting-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px 10px 20px;
    border: 1px solid black;
    background-color: #eee;
    border-radius: 3px;
    box-shadow: #efefef 0 0 20px;
}

#zeus-reporting .progressbar-container {
    width: 400px;
    height: 32px;
    color: #fff;
    border: 1px solid #999;
    background-color: #ccc;
    border-radius: 3px;
}

#zeus-reporting .progressbar-progress {
    padding: 10px 0;
    height: 12px;
    transition: width 1500ms;
}
#zeus-reporting .progressbar-container .graph-content {
    width: 400px;
    text-align: center;
}
#zeus-reporting .progressbar-container .graph-content.warning {
    font-weight: bold;
    color: #db0000;
}
#zeus-reporting .comment {
    margin: 10px 0;
    float: right;
}
#zeus-reporting .settings-wrapper {
    margin: 10px 0;
}

#zeus-reporting .settings-switch {
    cursor: pointer;
    text-decoration: underline;
}
#zeus-reporting .settings-switch.closed {}
#zeus-reporting .settings-switch.open {}

#zeus-reporting .settings.hidden {
    display:none;
}
#zeus-reporting .settings label {
    display:block;
    margin: 10px 0;
}
#zeus-reporting .settings input {
    width: 20px;
    margin: 0 10px 0 0;
    padding: 1px 5px;
}
#zeus-reporting .settings input.pushbullet {
    width:200px
}

#zeus-reporting label.disabled {
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
}